[package]
name = "req"
version = "0.0.2"
authors = ["Nicholas Donnelly <nick@donnelly.cc>"]

[lib]
name="reqlib"
path="src/lib.rs"

[[bin]]
name="req"
path="src/bin.rs"


[dependencies]
hyper = "0.11"
hyper-tls = "0.1.2"
futures = "0.1"
tokio-core = "0.1"
colored = "1.5"
ascii = "0.8.6"
